<?xml version="1.0"?>

<model>
  <name>Portal Frame</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roberto Zegers</name>
  </author>

  <description>
    A portal frame structure for mounting sensors above or on the sides of a conveyor belt in Gazebo.
  </description>
</model>
