<?xml version="1.0"?>
<robot name="tag_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- This is for loading a box with one main link and different tags on each side -->

<xacro:property name="mass" value="1.0" />
<xacro:property name="x" value="0.2" />
<xacro:property name="y" value="0.2" />
<xacro:property name="z" value="0.2" />

<!-- Macro for the inertia of a box -->
<xacro:macro name="box_inertia" params="x y z mass">
  <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
  iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
  izz="${0.0833333 * mass * (x*x + y*y)}" />
</xacro:macro>

  <link name="tag_link">
    <inertial>
      <origin xyz="0 0 0.1" />
      <mass value="${mass}" />
        <xacro:box_inertia x="${x}" y="${y}" z="${z}" mass="${mass}" />
    </inertial>

    <visual>
      <origin xyz="0 0 0.1"/>
      <geometry>
        <!-- Mesh with AR Track Alvar tags -->
        <mesh filename="package://sortation_system/models/alvartags/meshes/alvartags$(arg tag_num).dae" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.1"/>
      <geometry>
        <box size="${x} ${y} ${z}" />
      </geometry>
    </collision>
  </link>
  
</robot>
