<?xml version="1.0" ?>
<robot name="workcell" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find sortation_system)/urdf/workcell.gazebo" />

<!-- Used for fixing the camera to Gazebo 'base_link' -->
<link name="world"/>

<!-- optical frame for the Gazebo camera plugin to operate on correctly -->
<link name="camera_optical_frame"> 
<!-- virtual link (no geometry, just a mesh for Rviz) -->
<visual name='camera_visual'>
  <origin xyz="0.0 0 0" rpy="-1.571 0 0"/>
    <geometry>
      <mesh filename="package://sortation_system/models/camera/meshes/camera.dae" scale="0.01 0.01 0.01"/>
    </geometry>
</visual>
</link>

<joint name="world_to_camera" type="fixed">
  <parent link="world"/>
  <child link="camera_optical_frame"/>
  <origin xyz="1.2 2.467 1.735" rpy="0 3.14159 0"/>
</joint>

<link name="conveyor_belt_frame"> 
<!-- virtual link (no geometry, just a mesh for Rviz) -->
<visual name='conveyor_belt_visual_1'>
  <origin xyz="0 0.32 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sortation_system/models/conveyor/meshes/model.dae"/>
    </geometry>
</visual>
<visual name='conveyor_belt_visual_2'>
  <origin xyz="3.31 0.32 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sortation_system/models/conveyor/meshes/model.dae"/>
    </geometry>
</visual>
<visual name='conveyor_belt_visual_3'>
  <origin xyz="6.62 0.32 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sortation_system/models/conveyor/meshes/model.dae"/>
    </geometry>
</visual>
</link>

<joint name="world_to_conveyor" type="fixed">
  <parent link="world"/>
  <child link="conveyor_belt_frame"/>
  <origin xyz="1.2 5 0" rpy="0 0 -1.571"/>
</joint>

</robot>
