<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- launches ar_track_alvar to detect AR markers and localize them in space -->     

    <arg name="marker_size" default="17" /> <!-- in cm -->
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <!-- the name of the topic that provides camera frames for detecting the AR tags -->
    <arg name="cam_image_topic" default="/camera1/image_raw" />
    <!-- the name of the topic of camera parameters used to correctly localize the tag in the 3D world -->
    <arg name="cam_info_topic" default="/camera1/camera_info" />
    <!-- the frame which the calculated pose of the marker refers to (frame associated to the camera position) -->
    <arg name="output_frame" default="/camera_link_optical" />
    <!-- maximum frequency, with which the whole algorithm is running -->
    <arg name="max_frecuency" default="10" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" 
          args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frecuency)" />
</launch>
